<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 translate>download.title</h2>
        <p translate>download.player.title</p>
        <p translate>download.player.desc</p>
      </div>
      <div class="col-md-6">
        <img class="screen" src="/assets/screen-01.webp"/>
      </div>

      <div class="col-md-4 text-center button-download">
        <a class="btn btn-light btn-lg" href="https://github.com/yildiz-online/retro-player-installer/releases/download/1.2.0/Play50hz-player.exe">
          <i class="fab fa-windows"></i>
          <span translate>download.player.windows</span>
        </a>
      </div>
      <div class="col-md-4 text-center button-download">
        <a class="btn btn-light btn-lg btn-disabled"
           href="https://github.com/yildiz-online/retro-player-installer/releases/download/1.2.0/Play50hz-player">
          <i class="fab fa-linux"></i>
          <span translate>download.player.linux</span>
        </a>
      </div>
      <div class="col-md-4 text-center button-download">
        <a class="btn btn-light btn-lg btn-disabled">
          <i class="fab fa-android"></i>
          <span translate>download.player.android</span>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2 translate>download.manager.title</h2>
        <p translate>download.manager.desc</p>
      </div>
      <div class="col-md-6">
        <img class="screen" src="/assets/manager.PNG"/>
      </div>

      <div class="col-md-4 text-center button-download">
        <a class="btn btn-light btn-lg"
           href="https://github.com/yildiz-online/retro-installer/releases/download/1.3.0/Play50hz-server.exe">
          <i class="fab fa-windows"></i>
          <span translate>download.manager.windows</span>
        </a>
      </div>
      <div class="col-md-4 text-center button-download">
        <a class="btn btn-light btn-lg"
           href="https://github.com/yildiz-online/retro-installer/releases/download/1.3.0/Play50hz-server">
          <i class="fab fa-linux"></i>
          <span translate>download.manager.linux</span>
        </a>
      </div>
    </div>
  </div>
</div>




