<h2>Téléchager Play50hz</h2>

<p>Play50hz est compatible Windows et bientôt Linux et Android</p>
<p>Une fois téléchargé, choisissez où l'installer, cliquez dessus et laissez le faire, sous windows il est possible d'avoir un avertissement car l'application n'est pas signée, ignorez le.</p>

<div class="row">
  <div class="col-md-4">
    <a class="btn btn-light btn-lg">
      <i class="fab fa-windows" href="https://github.com/yildiz-online/retro-player-installer/releases/download/1.0.2/Play50hz-player.exe"></i>
      <span translate>download.player.windows</span>
    </a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-light btn-lg btn-disabled">
      <i class="fab fa-linux"></i>
      <span translate>download.player.linux</span>
    </a>
  </div>
  <div class="col-md-4">
    <a class="btn btn-light btn-lg btn-disabled">
      <i class="fab fa-android"></i>
      <span translate>download.player.android</span>
    </a>
  </div>
</div>



<h2>Télécharger Play50hz manager</h2>
<p>Play50hz est compatible Windows et Linux, c'est un serveur qui peut gérer tout une collection, si vous avez beaucoup de jeux, il est intéressant de l'installer aussi</p>

<a class="btn btn-light btn-lg" href="https://github.com/yildiz-online/retro-installer/releases/download/1.2.0/Play50hz-server.exe">
  <i class="fab fa-windows"></i>
  <span translate>download.manager.windows</span>
</a>

<a class="btn btn-light btn-lg" href="https://github.com/yildiz-online/retro-installer/releases/download/1.2.0/Play50hz-server">
  <i class="fab fa-linux"></i>
  <span translate>download.manager.linux</span>
</a>

