<h3>Téléchager Play50hz</h3>

<p>Play50hz est compatible Windows et bientôt Linux et Android</p>
<p>Une fois téléchargé, choisissez où l'installer, cliquez dessus et laissez le faire, sous windows il est possible d'avoir un avertissement car l'application n'est pas signée, ignorez le.</p>

<div>
  <a download="Play50hz-player.exe" href="https://github.com/yildiz-online/retro-player-installer/releases/download/1.0.2/Play50hz-player.exe"><img class="os-logo" src="/assets/window-10-logo-vector.png"/> Télécharger</a>
</div>

<div>
  <img class="os-logo" src="/assets/linux-logo.png"/> Bientôt
</div>

<div>
  <img class="os-logo" src="/assets/Android-logo.png"/> Bientôt
</div>


<h2>Téléchager Play50hz manager</h2>
<p>Play50hz est compatible Windows et Linux, c'est un serveur qui peut gérer tout une collection, si vous avez beaucoup de jeux, il est intéressant de l'installer aussi</p>

<p>
  <a download="Play50hz-server.exe" href="https://github.com/yildiz-online/retro-installer/releases/download/1.2.0/Play50hz-server.exe"><img class="os-logo" src="/assets/window-10-logo-vector.png"/> Télécharger</a>
</p>

<p>
  <a download="Play50hz-server" href="https://github.com/yildiz-online/retro-installer/releases/download/1.2.0/Play50hz-server"><img class="os-logo" src="/assets/linux-logo.png"/> Télécharger</a>
</p>
