<div>
  <h3><i class="fab fa-windows os"></i>Windows 64 bits</h3>
  <img class="logo" src="assets/logos/snes.png" alt="Super Nintendo">
  <img class="logo" src="assets/logos/nes.png" alt="Nintendo Entertainment System">
  <img class="logo" src="assets/logos/n64.png" alt="Nintendo 64">
  <img class="logo" src="assets/logos/gba.png" alt="Gameboy Advance">
  <img class="logo" src="assets/logos/sms.png" alt="Sega Master System">
  <img class="logo" src="assets/logos/gen.png" alt="Sega Genesis">
  <img class="logo" src="assets/logos/arcade.png" alt="Mame">
  <img class="logo" src="assets/logos/amiga.png" alt="Amiga">
</div>
<div>
  <h3><i class="fab fa-linux os"></i>Linux 64 bits</h3>
  <img class="logo" src="assets/logos/snes.png" alt="Super Nintendo">
</div>
<div>
  <h3><i class="fab fa-raspberry-pi os"></i>Raspberry PI 64 bits</h3>
  <img class="logo" src="assets/logos/snes.png" alt="Super Nintendo">
</div>
