
<h3>
  Feuille de route
</h3>
<p>
  Sur cette page vous trouverez le planning prévu pour les versions à venir, et si possible la date de distribution des version.
</p>
<p>
  Les versions jusque 1.4.x sont considérées comme MVP, la première version publique sera la 1.4.0
</p>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">1.1.0 (Date de mise en ligne: 01/11/2019)</h5>
    <p>Manager</p>
    <ul>
      <li>Possibilité de télécharger automatiquement des pack de rom, covers, videos...</li>
      <li>Envoyer les tags de roms.(TERMINE)</li>
    </ul>
    <p>Player</p>
    <ul>
      <li>Amélioration de l'affichage des notifications.(TERMINE)</li>
      <li>Amélioration de la présentation des vidéos avec une image cadre.(EN COURS)</li>
      <li>Navigation avec le stick en plus de la croix directionnelle sur les manettes.</li>
      <li>Jouer un son quand la séléction change.</li>
      <li>Ajout d'un écran de menu.</li>
      <li>Ajout de la possibilité de mettre un jeu en favori.</li>
      <li>Créer automatiquement un fichier de configuration si il n'existe pas ou est corrompu.</li>
    </ul>
  </div>
</div>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">1.2.0 (Date de mise en ligne: 15/11/2019)</h5>
    <p>Manager</p>
    <ul>
      <li>Gestion de la collection de jeux</li>
      <li>Fournir un affichage web de ce gestionnaire</li>
      <li>Prendre en compte la liste des clones identifiés dans https://datomatic.no-intro.org</li>
      <li>Envoyer seulement l'id de la rom.</li>
    </ul>
    <p>Player</p>
    <ul>
      <li>Animation de la liste de jeux.</li>
      <li>Interception des inputs envoyés dans le jeu pour lancer des actions(afficher un menu, quitter un jeu...).</li>
      <li>Nouvelles images de fond pour les thèmes.</li>
      <li>Amélioration des performances lors de la selection d'un jeu.</li>
      <li>Support Linux.</li>
      <li>Centraliser la configuration des émulateurs et la reporter dans leur fichiers de configuration.</li>
    </ul>
  </div>
</div>

<footer>
  <div class='footer-copyright'>
    <p>&copy;2019 Copyright: Grégory Van den Borre</p>
  </div>
</footer>
