.navbar-logo {
  max-height: 96px;
  max-width: 96px;
}

.navbar-logo-text {
  float: right;
  padding-top: 30px;
}

.navbar-brand {
  padding-bottom: 0;
  padding-top: 0;
}

select {
  background-color: #343a40;
  color: rgba(255,255,255,.5);
}


