<div class="jumbotron  container-fluid">
  <h2 translate>home.jumbo.title</h2>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-6">
      <p translate>home.jumbo.player</p>
      <p translate>home.jumbo.manager</p>
      <p translate>home.jumbo.app</p>
      <p class="lead">
        <a class="btn btn-light btn-lg" routerLink="/download" role="button">
          <i class="fas fa-download"></i>
          <span translate>home.jumbo.download</span>
        </a>
      </p>
    </div>
    <div class="col-md-6">
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="assets/screen-01.jpg" alt="First slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h3 translate>home.content.title</h3>

<div class="card border-dark w-75 float-right mb-4">
  <div class="card-body">
    <h5 class="card-title" translate>home.content.card1.title</h5>
    <img src="/assets/mario-playing.jpg">
    <p class="card-text" translate>home.content.card1.body</p>
  </div>
</div>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">Je veux jouer sur plusieurs machines</h5>
    <p class="card-text">Avec la gestion centralisée de vos jeux, données, images et vidéos, partagés entre toutes vos
      machines,
      vous ne passerez presque plus de temps à configurer les systèmes, à télécharger, à ranger. Dès que vous changez de
      machine, tout se téléchargera depuis votre manager.</p>
    <p class="card-text">Profitez du temps gagné pour enfin atteindre les 101% sur Donkey Kong Country!</p>
  </div>
</div>

<div class="card border-dark w-75 float-right mb-4">
  <div class="card-body">
    <h5 class="card-title">Je veux facilement gérer ma collection</h5>
    <p class="card-text">Play50hz est une application de retro gaming, elle est composée d'un serveur(le manager),
      pour gérer votre collection de jeux retro, et d'un front-end(le player) pour les afficher et y jouer.
    </p>
    <p class="card-text">Grâce au manager qui contiendra et gérera toutes vos roms, couvertures, videos et meta-données,
      que vous partagerez avec les players qui s'y connecteront, vous gérer tout en un seul endroit.</p>
  </div>
</div>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">Je veux tous mes anciens jeux!!!</h5>
    <p class="card-text">Que ce soit des consoles ou des bornes d'arcade, tout peut être supporté!</p>
    <p class="card-text">Actuellement, seul la Nintendo NES, la Super Nintendo, la Sega Master System et la Sega
      Megadrive sont supportées, bien d'autres vont être ajoutés.</p>
  </div>
</div>
