
<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title"> Un seul programme pour tout gérer</h5>
    <p class="card-text">Play50hz est une application de retro gaming, elle est composée d'un serveur(le manager),
      pour gérer votre collection de jeux retro, et d'un front-end(le player) pour les afficher et y jouer.</p>
    <p class="card-text">C'est le manager qui contiendra et gérera toutes vos roms, couvertures, videos et meta-données, que vous partagerez avec les players qui s'y connecteront.</p>
  </div>
</div>

<div class="card border-dark w-75 float-right mb-4">
  <div class="card-body">
    <h5 class="card-title">Reconnaissance intelligente des jeux</h5>
    <p class="card-text">Déposez simplement vos roms dans le dossier que vous aurez choisi, faite de même pour vos covers, vos videos,
      le programme se charge de tout réconcillier intelligemment, même si les noms de fichiers ne correspondent pas.</p>
  </div>
</div>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">Moins de temps à gérer, plus de temps pour jouer</h5>
    <p class="card-text">Avec la gestion centralisée de vos jeux, données, images et vidéos, partagés entre toutes vos machines,
      vous ne passerez presque plus de temps à configurer les systèmes, à télécharger, à ranger. Dès que vous changez de machine, tout se téléchargera depuis votre manager.</p>
    <p class="card-text">Profitez du temps gagné pour enfin atteindre les 101% sur Donkey Kong Country!</p>
  </div>
</div>

<h3>
  Téléchargement et installation
</h3>
<p>
  Vous pouvez télécharger play50hz <a href="http://files.yildiz-games.be/play50hz/play50hz-manager-1.0.1.zip">ici</a> .
</p>
<p>
  Une fois le téléchargement terminé, décompressez l'archive ZIP, dans le dossier vous trouverez le manager, vous aurez besoin de java version 11 minimum pour le faire tourner.
</p>
<p>
  Le manager fonctionne sous windows ou linux.
</p>
<p>
  Dans un un terminal (Touche Windows + x, puis i sous windows, CTRL + ALT + t sous linux), naviguez jusqu'au dossier où se trouve le manager, en utilisant la commande 'cd', et enfin entrez la commande pour lancer le manager:
  ' java - jar retro-manager-assembly.jar '
</p>

<footer>
  <div class='footer-copyright'>
    <p>&copy;2019 Copyright: Grégory Van den Borre</p>
  </div>
</footer>
