
<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title"> Un seul programme pour tout gérer</h5>
    <p class="card-text">Play50hz est une application de retro gaming, elle est composée d'un serveur(le manager),
      pour gérer votre collection de jeux retro, et d'un front-end(le player) pour les afficher et y jouer.</p>
    <p class="card-text">C'est le manager qui contiendra et gérera toutes vos roms, couvertures, videos et meta-données, que vous partagerez avec les players qui s'y connecteront.</p>
  </div>
</div>

<div class="card border-dark w-75 float-right mb-4">
  <div class="card-body">
    <h5 class="card-title">Reconnaissance intelligente des jeux</h5>
    <p class="card-text">Déposez simplement vos roms dans le dossier que vous aurez choisi, faite de même pour vos covers, vos videos,
      le programme se charge de tout réconcillier intelligemment, même si les noms de fichiers ne correspondent pas.</p>
  </div>
</div>

<div class="card border-dark w-75 mb-4">
  <div class="card-body">
    <h5 class="card-title">Moins de temps à gérer, plus de temps pour jouer</h5>
    <p class="card-text">Avec la gestion centralisée de vos jeux, données, images et vidéos, partagés entre toutes vos machines,
      vous ne passerez presque plus de temps à configurer les systèmes, à télécharger, à ranger. Dès que vous changez de machine, tout se téléchargera depuis votre manager.</p>
    <p class="card-text">Profitez du temps gagné pour enfin atteindre les 101% sur Donkey Kong Country!</p>
  </div>
</div>

<h3>
  Téléchargement et installation
</h3>
<p>
  Vous pouvez télécharger play50hz <a href="http://files.yildiz-games.be/play50hz/play50hz-manager-1.0.1.zip">ici</a> .
</p>
<p>
  Une fois le téléchargement terminé, décompressez l'archive ZIP (sous windows,clic droit extraire tout, attention à donc bien extraire et non pas lancer le programme depuis l'archive).
  Dans le dossier extrait, vous trouverez le manager, vous aurez besoin de java version 11 minimum installé sur votre machine pour le faire tourner(Version windows téléchargeable <a href="https://www.01net.com/telecharger/windows/Programmation/java/fiches/116967.html">ici</a>.
</p>
<p>
  Le manager fonctionne sous windows ou linux.
</p>
<p>
  La dernière étape avant de lancer le manager est d'éditer le fichier de configuration(configuration.properties) :
</p>
  <ul>
  <li>system.support Les systèmes supportés, actuellement seuls snes(super nintendo), nes (nintendo), sms (master system) et gen (megadrive) sont supportés.</li>
  <li>video.directory Le dossier où se trouveront les vidéos de vos jeux, elles devront être dans un sous dossier nommé comme le système (snes, nes, gen, sms). </li>
  <li>cover.directory Le dossier où mettre vos covers de jeu, aussi dans un sous dossier avec le nom du système.</li>
  <li>roms.directory Le dossier où déposer vos roms, toujours dans un sous dossier système.</li>
  <li>player.directory Le dossier où se trouve 'player.zip', par défaut ce devrait être le dossier du manager/player.</li>
  <li>csv.directory Le dossier où sera traitée la base de donnée CSV.</li>
  <li>web-server.port Le port de communication entre le manager et les players.</li>
  <li>theme.directory Le dossier où se trouvent les fichiers de thème du manager, par défaut dossier du manager/themes</li>
  <li>csv.account Le dossier où sont stockés les fichiers de comptes utilisateurs.</li>
  <li>launchbox.directory Le dossier où sera téléchargée la base de donnée launchbox.</li>
  <li>clones.directory Le dossier où se trouvent les listes de clones(gen-clones.txt, snes-clones.txt,...)</li>
  <li>clean.directory LE dossier où se trouvent les listes de nettoyage de nom(gen-clean.txt, snes-clean.txt...)</li>
  </ul>
<p>
  Sous windows, vous pouvez éxecuter le script de démarrage "run.bat", sous linux, dans un terminal, rendez vous dans le bon dossier et lancez la commande ' java - jar retro-manager.jar '
</p>

<p>
  Une fois le démarrage terminé, sur la machine où vous voulez jouer, ouvrez votre navigateur et entrez l'url suivante: http://'ip de la machine du manager':8080/setup
</p>

<footer>
  <div class='footer-copyright'>
    <p>&copy;2019 Copyright: Grégory Van den Borre</p>
  </div>
</footer>
